- include_tasks: update-status-progress.yml
  vars:
    status_progress_message: "Creating core resources"
  when:
  - is_k8s == True

- name: Remove HPA if disabled on Kubernetes
  k8s:
    state: absent
    api_version: "{{ kiali_vars.deployment.hpa.api_version }}"
    kind: "HorizontalPodAutoscaler"
    namespace: "{{ kiali_vars.deployment.namespace }}"
    name: "{{ kiali_vars.deployment.instance_name }}"
  when:
  - is_k8s == True
  - kiali_vars.deployment.hpa.spec | length == 0

- name: Create Kiali objects on Kubernetes
  include_tasks: process-resource.yml
  vars:
    role_namespaces: "{{ [ kiali_vars.deployment.namespace ] }}"
    process_resource_templates:
    - "templates/kubernetes/serviceaccount.yaml"
    - "templates/kubernetes/configmap.yaml"
    - "templates/kubernetes/{{ 'role-viewer' if ((kiali_vars.deployment.view_only_mode|bool == True) or (kiali_vars.auth.strategy != 'anonymous')) else 'role' }}.yaml"
    - "templates/kubernetes/role-controlplane.yaml"
    - "templates/kubernetes/rolebinding.yaml"
    - "templates/kubernetes/rolebinding-controlplane.yaml"
    - "templates/kubernetes/deployment.yaml"
    - "templates/kubernetes/service.yaml"
    - "{{ 'templates/kubernetes/hpa.yaml' if kiali_vars.deployment.hpa.spec | length > 0 else '' }}"
    - "{{ 'templates/kubernetes/ingress.yaml' if kiali_vars.deployment.ingress.enabled|bool == True else '' }}"
  when:
  - is_k8s == True

- name: Delete Ingress on Kubernetes if disabled
  k8s:
    state: absent
    api_version: "networking.k8s.io/{{ 'v1' if (lookup(k8s_plugin, kind='Ingress', api_version='networking.k8s.io/v1', errors='ignore') is iterable) else 'v1beta1' }}"
    kind: "Ingress"
    namespace: "{{ kiali_vars.deployment.namespace }}"
    name: "{{ kiali_vars.deployment.instance_name }}"
  when:
  - is_k8s == True
  - kiali_vars.deployment.ingress.enabled|bool == False

- include_tasks: update-status-progress.yml
  vars:
    status_progress_message: "Creating additional roles"
  when:
  - is_k8s == True
  - kiali_vars.deployment.cluster_wide_access == False

- name: Create additional Kiali roles/bindings on all namespaces that are accessible on Kubernetes
  vars:
    role_namespaces: "{{ discovery_selector_namespaces }}"
  k8s:
    template:
    - "templates/kubernetes/{{ 'role-viewer' if ((kiali_vars.deployment.view_only_mode|bool == True) or (kiali_vars.auth.strategy != 'anonymous')) else 'role' }}.yaml"
    - "templates/kubernetes/rolebinding.yaml"
  when:
  - is_k8s == True
  - kiali_vars.deployment.cluster_wide_access == False
