{{ if eq .Values.istio.ingress.enabled true }}
---
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: {{ include "kiali-operator.fullname" . }}-destination-rule
  namespace: {{ .Values.cr.spec.deployment.namespace }}
  labels:
  {{- include "kiali-operator.labels" . | nindent 4 }}
spec:
  host: kiali
  trafficPolicy:
    tls:
      mode: DISABLE
...
{{- end }}
