{% for namespace in role_namespaces %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: {{ role_kind }}
metadata:
  name: {{ kiali_vars.deployment.instance_name }}
  namespace: {{ namespace }}
  labels: {{ kiali_resource_metadata_labels }}
rules:
- apiGroups: [""]
  resources:
  - configmaps
  - endpoints
{% if 'log-view' not in kiali_vars.kiali_feature_flags.disabled_features %}
  - pods/log
{% endif %}
  verbs:
  - get
  - list
  - watch
- apiGroups: [""]
  resources:
  - namespaces
  - pods
  - replicationcontrollers
  - services
  verbs:
  - get
  - list
  - watch
  - patch
- apiGroups: [""]
  resources:
  - pods/portforward
  verbs:
  - create
  - post
- apiGroups: ["extensions", "apps"]
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
  - list
  - watch
  - patch
- apiGroups: ["batch"]
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
  - list
  - watch
  - patch
- apiGroups:
  - networking.istio.io
  - security.istio.io
  resources: ["*"]
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - patch
- apiGroups: ["authentication.k8s.io"]
  resources:
  - tokenreviews
  verbs:
  - create
{% endfor %}
