- include_tasks: update-status-progress.yml
  vars:
    status_progress_message: "Creating core resources"
  when:
  - is_openshift == True

- name: Create Kiali objects on OpenShift
  include_tasks: process-resource.yml
  vars:
    process_resource_cluster: "openshift"
    role_namespaces: "{{ [ kiali_vars.deployment.namespace ] }}"
  loop:
  - serviceaccount
  - configmap
  - cabundle
  - "{{ 'role-viewer' if kiali_vars.deployment.view_only_mode|bool == True else 'role' }}"
  - role-controlplane
  - rolebinding
  - rolebinding-controlplane
  - deployment
  - service
  - "{{ 'hpa' if kiali_vars.deployment.hpa.spec | length > 0 else '' }}"
  loop_control:
    loop_var: process_resource_item
  when:
  - is_openshift == True
  - process_resource_item != ''

- name: Remove HPA if disabled on OpenShift
  k8s:
    state: absent
    api_version: "{{ kiali_vars.deployment.hpa.api_version }}"
    kind: "HorizontalPodAutoscaler"
    namespace: "{{ kiali_vars.deployment.namespace }}"
    name: "{{ kiali_vars.deployment.resource_names_prefix }}"
  when:
  - is_openshift == True
  - kiali_vars.deployment.hpa.spec | length == 0

- name: Create Route on OpenShift if enabled
  include_tasks: process-resource.yml
  vars:
    process_resource_cluster: "openshift"
    role_namespace: "{{ kiali_vars.deployment.namespace }}"
  loop:
  - route
  loop_control:
    loop_var: process_resource_item
  when:
  - is_openshift == True
  - kiali_vars.deployment.ingress_enabled|bool == True

- name: Delete Route on OpenShift if disabled
  k8s:
    state: absent
    api_version: "route.openshift.io/v1"
    kind: "Route"
    namespace: "{{ kiali_vars.deployment.namespace }}"
    name: "{{ kiali_vars.deployment.resource_names_prefix }}"
  when:
  - is_openshift == True
  - kiali_vars.deployment.ingress_enabled|bool == False

- include_tasks: update-status-progress.yml
  vars:
    status_progress_message: "Creating additional roles"
  when:
  - is_openshift == True
  - '"**" not in kiali_vars.deployment.accessible_namespaces'

- name: Create additional Kiali roles on all accessible namespaces on OpenShift
  vars:
    role_namespaces: "{{ kiali_vars.deployment.accessible_namespaces }}"
  k8s:
    definition: "{{ lookup('template', 'templates/openshift/' + ('role-viewer' if kiali_vars.deployment.view_only_mode|bool == True else 'role') + '.yaml') }}"
  when:
  - is_openshift == True
  - '"**" not in kiali_vars.deployment.accessible_namespaces'

- name: Create additional Kiali role bindings on all accessible namespaces on OpenShift
  vars:
    role_namespaces: "{{ kiali_vars.deployment.accessible_namespaces }}"
  k8s:
    definition: "{{ lookup('template', 'templates/openshift/rolebinding.yaml') }}"
  when:
  - is_openshift == True
  - '"**" not in kiali_vars.deployment.accessible_namespaces'

- include_tasks: update-status-progress.yml
  vars:
    status_progress_message: "Creating OpenShift resources"
  when:
  - is_openshift == True

- name: Get the Kiali Route URL
  include: openshift/os-get-kiali-route-url.yml
  when:
  - is_openshift == True

- name: Process OpenShift OAuth client
  k8s:
    definition: "{{ lookup('template', 'templates/openshift/oauth.yaml') }}"
  when:
  - is_openshift == True
  - kiali_vars.auth.strategy == "openshift"

- name: Delete all ConsoleLinks for namespaces that are no longer accessible
  k8s:
    state: absent
    definition: |
      {% for namespace in no_longer_accessible_namespaces  %}
      ---
      apiVersion: console.openshift.io/v1
      kind: ConsoleLink
      metadata:
        name: "{{ kiali_vars.deployment.resource_names_prefix }}-namespace-{{ namespace }}"
      ...
      {% endfor %}
  when:
  - is_openshift == True
  - no_longer_accessible_namespaces is defined

- name: Process OpenShift Console Links
  k8s:
    definition: "{{ lookup('template', 'templates/openshift/console-links.yaml') }}"
  vars:
    # When accessible_namespaces=**, the kiali.io/member-of label is not set, but maistra.io/member-of are always present
    namespaces: "{{ lookup('k8s', api_version='v1', kind='Namespace', label_selector=('maistra.io/member-of=' + kiali_vars.istio_namespace)) | default({}) | json_query('[].metadata.name') if '**' in all_accessible_namespaces else all_accessible_namespaces }}"
  when:
  - is_openshift == True
  - openshift_version is version('4.3', '>=')
