apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ kiali_vars.deployment.instance_name }}-{{ kiali_vars.deployment.namespace }}
  labels: {{ kiali_resource_metadata_labels }}
rules:
- apiGroups: ["oauth.openshift.io"]
  resources:
  - oauthclients
  resourceNames:
  - {{ kiali_vars.deployment.instance_name }}-{{ kiali_vars.deployment.namespace }}
  verbs:
  - get
