{% for namespace in namespaces %}
---
apiVersion: console.openshift.io/v1
kind: ConsoleLink
metadata:
  name: {{ kiali_vars.deployment.resource_names_prefix }}-namespace-{{ namespace }}
  labels: {{ kiali_resource_metadata_labels | combine({'kiali.io/home': kiali_vars.deployment.namespace }) }}
spec:
  href: {{ kiali_route_url }}{{ '/' if kiali_vars.server.web_root == '/' else (kiali_vars.server.web_root + '/') }}console/graph/namespaces?namespaces={{ namespace }}
  location: NamespaceDashboard
  text: Kiali
  namespaceDashboard:
    namespaces:
    - {{ namespace }}
{% endfor %}
