{% for namespace in namespaces %}
---
apiVersion: console.openshift.io/v1
kind: ConsoleLink
metadata:
  name: {{ kiali_vars.deployment.instance_name }}-namespace-{{ namespace }}
  labels: {{ kiali_resource_metadata_labels | combine({ kiali_instance_label_name: kiali_instance_label_value }) }}
spec:
  href: {{ kiali_route_url }}{{ '/' if kiali_vars.server.web_root == '/' else (kiali_vars.server.web_root + '/') }}console/graph/namespaces?namespaces={{ namespace }}
  location: NamespaceDashboard
  text: Kiali
  text: {{ ('Kiali [' + kiali_vars.deployment.instance_name + ']') if kiali_vars.deployment.instance_name != 'kiali' else 'Kiali' }}
  namespaceDashboard:
    namespaces:
    - {{ namespace }}
{% endfor %}
