apiVersion: v1
kind: Service
metadata:
  name: ossmconsole
  namespace: "{{ ossmconsole_vars.deployment.namespace }}"
  labels: {{ ossmconsole_resource_metadata_labels }}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: ossmconsole-cert-secret
spec:
  ports:
  - name: 9443-tcp
    protocol: TCP
    port: 9443
    targetPort: 9443
  selector:
    app.kubernetes.io/name: ossmconsole
    app.kubernetes.io/instance: ossmconsole
  type: ClusterIP
  sessionAffinity: None
